body{
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
}

section{
	display: table-cell!important;
	vertical-align: middle;
}

.main{
	max-width: 800px;
	max-height: 500px;
	margin: auto;
	border: 1px solid #000;
}

h1{
	text-align: center;
}

li{
	text-transform: capitalize;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

/* Store */

ul.stores{
	list-style-type: none;
}

.stores .storeName{
	font-size: 26px;
}

.stores p{
	margin: 2px 0;
	padding-left: 15px;
}

.stores{
	margin: auto;
}

/* Book */

select > option:first-child:not(.ng-scope){
	display: none;
}

.price{
	text-align: right;
}

.total{
	text-align: right;
}

.total input[type='submit']{
	margin-bottom: 10px;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}