body{
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
}

section{
	display: table-cell!important;
	vertical-align: middle;
}

.main{
	max-width: 800px;
	max-height: 500px;
	margin: auto;
	border: 1px solid #000;
}

h1{
	text-align: center;
}

li{
	text-transform: capitalize;
}

.row{
	margin-left: 0;
	margin-right: 0;
}