<div class="row">
	<title-display></title-display>
	<ul class="col-xs-12 stores">
		<li class="clearfix" ng-repeat="store in stores.datas">
			<div class="storeName"><a href ng-click="stores.toogleStore(store.id)">{{ store.name }}</a></div>
			<div class="info clearfix" ng-show="stores.current === store.id">
				<div class="col-xs-12 col-sm-9">
					<p>Adresse : {{ store.address }}</p>
					<p>Horaires : {{ store.schedule }}</p>
				</div>
				<div class="col-xs-12 col-sm-3">
					<button><a ng-href="#/stores/{{ store.id }}/books">Selectionner le magasin</a></button>
				</div>
			</div>
		</li>
	</ul>
</div>